.providerImg {
    max-height: 500px;
    max-width: 425px;
    width: 100%;
}
.providerDetailsPage {
    margin-top: 50px;
    margin-bottom: 100px;
}
#providersDetailsDeleteBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}
.uploadimageProvider {
    font-size: 1.3em;
    color: green;
    margin-bottom: 50px;
    margin-top: 50px
}