.productImgDetails {
    max-height: 200px;
    width: auto;
    margin-bottom: 40px;
}
.productDetailsPage {
    margin-top: 50px;
}

#productDetailsDeleteBtn {
    margin-top: 30px;
    margin-bottom: 30px;
}