.recipeForm{
    margin-bottom: 100px;
    margin-top: 20px;
}

.inputReducido{
    width: 80%;
    display: inline;
    margin-bottom: 15px;
}

.deleteBtn{
    margin-left: 10px !important;
    background-color: red !important;
}

.titleAdd{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    color: green;
}
.btnGroup{
    margin-top : 50px
}

