
  h1,
  h2 {
    font-weight: normal;
  }
  
  h1,
  h2,
  p {
    letter-spacing: 1px;
  }
  
  section {
    background-color: white;
    padding: 75px 30px;
    border-top: 1px  #726d70;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  .bottomIcon {
    margin-bottom: 30px;
  }
  
  .header_text {
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .header_text p {
    font-size: 1em;
    margin-bottom: 50px;
  }
  
  .header_text h1 {
    line-height: 1.5;
  }
  
  #header_button {
    /* width: 40%; */
    padding: 25px;
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    color: #51C57F;
    font-weight: bold;
    font-size: 0.8em;
    transition: padding 0.5s;
    /* height: 25px; */
  }
  
  #header_button:hover {
    padding: 30px;
  }
  
  #main_menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    display: flex;
    list-style-type: none;
  }
  
  .menu_link {
    color: white;
    display: block;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    font-size: 0.65em;
  }
  
  .flex_list {
    padding: 0;
    list-style-type: none;
  }
  
  .flex_list li {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #84c3ff;
    margin-bottom: 10px;
  }
  
  .flex_list li:hover {
    color: white;
    background-color: #84c3ff;
    border: 1px solid #84c3ff;
  }
  
  #gallerie {
    color: white;
  }
  
  #gallerie h2 {
    color: #51C57F;
  }
  #logoDrink {
    max-height: 200px;

  } 
  
  .box {
    position: relative;
  }
  
  .grid_container {
    margin-top: 20px;
  }
  .galerie-2{
      margin: 5px;
  }
  
  @media screen and (min-width: 500px) {
    #main_menu {
      background: linear-gradient(
        to right,
        rgba(43, 43, 95, 1) 0%,
        rgba(43, 43, 95, 1) 50%,
        rgba(43, 43, 95, 0) 100%
      );
    }
  }
  
  @media screen and (min-width: 660px) {
    section {
      background-color: white;
      padding: 75px;
      
    }
  
    .header_text h1 {
      font-size: 3em;
    }
  
    p {
      font-size: 1.25em;
    }
  
    #header_button {
      font-size: 1em;
    }
  
    .flex_container {
      display: flex;
    }
  
    .flex_item {
      margin-right: 10px;
    }
  
    .grid_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      line-height: 0;
    }
  
    .grid_item {
      grid-column: span 6;
    }
  }
  
  @media screen and (min-width: 900px) {
    .grid_item {
      grid-column: span 4;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .grid_container {
      width: 80%;
      margin: 20px auto 0 auto;
    }
  }
  


  /* ICON SECTION */

  .secondary-button-dark a {
    padding: 13px 20px;
    letter-spacing: 0.5px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .secondary-button-dark a:hover {
    padding: 13px 20px;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
  }
  
  #about .service-item {
    text-align: center;
    margin: 0px -15px;
    padding: 90px 30px;
  }
  
  #about .service-item h4 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  
  #about .service-item p {
    margin-bottom: 50px;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
  }
  
  #about .first-service {
    background-color: #51c57f;
    height: 700px;
    
  }
  
  #about .second-service {
    background-color: #228b48;
    height: 700px;
  }
  
  #about .third-service {
    background-color: #51c57f;
    height: 700px;
  }
  
  #about .service-item .icon {
    width: 250px;
    height: 250px;
    display: inline-block;
    background-color: transparent;
  }

  .bottomIcon{
    width: 30%;
  }

  .textPetit{
    font-size: 10px !important;
    font-style: italic;
  }

