.bottomNav {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  vertical-align: bottom !important;
  background-color: white;
  overflow: hidden;
  position: fixed !important;
  bottom: 0;
  width: 100%;
}

/*the navigation bar */
.bottomNav a {
  float: left;
  display: block;
  color: #51c57f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*  hover */
.bottomNav a:hover {
  background-color: #51c57f;
  color: white;
  text-decoration: none;
}
/* current link */
.bottomNav a.active {
  background-color: #4caf50;
  color: white;
}

.FooterNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #51c57f;
  color: white;
  text-align: center;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.FooterNav a {
  font-size: x-small;
  text-decoration: none;
  color: white;
}

.FooterNav img{
margin-bottom: -4px;
width: 40px;
}