.media {
    display:flex;
    align-items: center
}

@media (max-width: 425px) {
    #inputQuantity{
        width: 25%;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    #inputQuantity{
        width: 25%;
    }
}